@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

body {
  font-family: Lora, Helvetica, serif;
  box-sizing: border-box;
  margin: 0;
}

.app-body {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.react-calendar {
  margin: 0 auto;
  border: none !important;
}

h3 {
  margin: 0;
}
